<header>
<h1>Burgers</h1>
<img class="burgerpng" src="../assets/img/burgerburger.png" alt="burger">
</header>

<main>



<div class="row">
  <div class="col-md-4">

    <h2>Burgers to Devour</h2>

    <br>

    <ul>
  {{#each burgers}}
  
  {{#unless devoured}}
 <h1> {{this.name}}</h1><button id={{this.id}} class="devoured btn btn-warning btn-sm">devoured</button>
  {{/unless}}
  {{/each}}
</ul>

  </div>
  <div class="col-md-4">

    <h2>Add a Burger</h2>

    <br>

<form id="create-form">

  <div class="form-group">
    <h2>What type of burger would YOU like to devour?</h2>

    <br>
    
    <label for="ca">Burger Name:</label>
    <input type="text" id="ca" name="name">
  </div>
  <button type="submit" class="btn btn-success btn-lg">Add Burger</button>
</form>
  </div>

  <div class="col-md-4">

    <h2>Devoured</h2>

    <br>

<ul>
  {{#each burgers}}
  {{#if devoured}}
  <h1> {{this.name}}<button id={{this.id}} class="delete btn btn-danger btn-sm">DELETE</button></h1>
  {{/if}}
  {{/each}}
</ul>

  </div>
</div>

</main>

<footer>


</footer>

